/**
 * {{{description}}}
 */

{{#getImports}}
{{/getImports}}


{{#extend}}
export class {{definitionName}} extends {{extend}}
{{/extend}}
{{^extend}}
export class {{definitionName}}
{{/extend}}
{
    _isEmpty: boolean /*указывает на то пустой ли объект*/
    {{#properties}}
    {{name}}: {{type}}; /*{{{description}}}*/
    {{/properties}}

    constructor(json) {
        json = (json || {})
        {{#extend}}
        super(json)
        {{/extend}}
        this._isEmpty = this.isEmpty(json)
        {{#fillProperties}}
        {{/fillProperties}}
       
    }

    keys() {
        return Object.keys(this)
    }

    isEmpty(json) {
        if (json === null || typeof json !== 'object'){
            return true
        }

        let res = true 
        Object.keys(json).map(i => {
            if (i !== '_isEmpty') {
                if (Array.isArray(json[i])){
                    json[i].map(j => {
                        res = res && this.isEmpty(json[i][j])
                    })
                } else if (typeof json[i] === 'object') {
                    res = res && this.isEmpty(json[i])
                } else {
                    res =  res && (json[i] === null || typeof(json[i]) === 'undefined') 
                }
            }
        })
        return res
    }
}